@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT-Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba (0, 0, 0, 0.2);
}

.button {
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-grey {
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
}

.button-transporent {
  background-color: transparent;
}

.page-header {
  color: #000000;
  padding: 0 70px;
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.welcome {
  background-image: url("../image/background/welcome-background.jpg");
  padding: 51px 50px 82px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-list {
  text-align: center;
}

.advantages-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-main-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.services-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-main-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
}

.search-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  margin: 0 0 20px 0;
}

.search-main-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  justify-content: center;
  margin: 0 0 54px 0;
}

.search-main-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  align-items: center;
  padding: 8px 50px;
}

.newsletter {
  padding: 94px 258px 104px 258px;
}
.newsletter-main .newsletter-title {
  color: #ffffff;
}

.newsletter-main .newsletter-description {
  color: #ffffff;
}

.newsletter-main {
  background-image: url(../image/background/Subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  margin: 0 0 20px 0;
}

.newsletter-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px 0;
}

.newsletter-form {
  display: flex;
}

.newsletter-input-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  padding: 12px 20px;
  min-width: 400px;
  flex-grow: 1;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  min-height: 100%;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 232px;
  border-radius: 0 4px 4px 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-figure {
  margin: 0;
  display: flex;
}

.advantages-item-figure-reverse {
  flex-direction: row-reverse;
}

.advantages-item-img {
  width: 100%;
  padding: 0;
}

.advantages-item:not(.advantages-item-img) {
  width: 400px;
  padding: 112px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:not(.advantages-item-img):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-figcaption {
  background-color: #82b3d3;
  width: 400px;
  padding: 102px 85px;
}

.advantages-item-figure .advantages-title {
  color: #ffffff;
}

.advantages-item-figure .advantages-description {
  color: #ffffff;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
  color: #ffffff;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  text-align: center;
  padding: 183px 85px 81px 85px;
}

.services-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.catalog-menu {
  display: flex;
}

.catalog-sort {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.catalog-sort-item {
  width: 150.43px;
  height: 24px;
}

.catalog-filter-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  border-radius: 4px;
  gap: 10px;
}

.catalog-hotels {
  padding: 50px 70px 60px 70px;
}

.hotels-list {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-sort {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.value {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-sort-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-view {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.hotel-card-button button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.hotel-card-stars {
  background-color: #83b3d3;
}

.hotel-card-reiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 60px;
  min-width: 60px;
  border-radius: 4px;
  padding: 5px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-divider {
  color: #000000;
  background-color: #ffffff;
}

.main-header {
  background-image: url("../image/background/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}
