@font-face {
  font-family: pt-sans;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: pt-sans;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: pt-sans;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: pt-sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}
.main-index {
  background-image: url("/image/background/filter-background.jpg");
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.advantages-list {
  text-align: center;
}

.advantages-main-title {
  font-family: pt-sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-main-description{
  font-family: pt-sans;
  font-weight 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title{
  font-family: pt-sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description{
  font-family: pt-sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.services-main-title {
  font-family: pt-sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-main-description {
  font-family: pt-sans;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-title {
  font-family: pt-sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.services-description{
  font-family: pt-sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search-title {
  font-family: pt-sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.search-discription{
  font-family: pt-sans;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-title{
  font-family: pt-sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-description{
  font-family: pt-sans;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
