@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT-Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba (0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  border: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  padding: 0 70px;
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.main-index {
  background-image: url("..//image/background/filter-background.jpg");
  color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages-list {
  text-align: center;
}

.advantages-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-main-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.services-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-main-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-input {
  font-family: inherit;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-items-figure figure {
  margin: 0;
  display: flex;
}

.advantages-items-figure figcaption {
  background-color: #82b3d3;
}

.advantages-items-figure .advantages-title {
  color: #ffffff;
}

.advantages-items-figure .advantages-description {
  color: #ffffff;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-sort {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.value {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.catalog-sort-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

option value {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-view {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.hotel-card-button button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.hotel-card-stars {
  background-color: #83b3d3;
}

.hotel-card-reiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination-link .pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.pagination-link .pagination-divider {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
}

.services-title {
  display: flex;
}
